<!DOCTYPE html>
<html>
<head>
    <title>Reset your Password || Learnsphere</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container mt-4">
        <form method="post" action="/resetotp" class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="text" name="email" id="email" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h1 th:text="${msg}"></h1>
    </div>
</body>
</html>
